Repository kisstar/cnblogs-theme-extreme: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:html, yarn lint:style, yarn lint:es, yarn lint:md, prettier --write

.lintstagedrc:

{
  "*.{htm,html}": ["yarn lint:html"],
  "*.{css,scss,sass}": ["yarn lint:style"],
  "*.{js,ts}": ["yarn lint:es"],
  "*.md": ["yarn lint:md"],
  "*.{js,ts,css,scss,sass,md,json}": ["prettier --write"]
}

chore: 添加 GitHub 相关的文件
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/rebase.yml
  .gitignore
  .markdownlintignore
  CODE_OF_CONDUCT.md
Due: yarn lint:md, prettier --write

chore: update ESLint's configuration
  .eslintrc
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

build: 搭建基于 webpack 的基础开发环境
  .babelrc
  .eslintrc
  config/webpack-base.js
  config/webpack-development.js
  package.json
  scripts/build.js
  scripts/start.js
  yarn.lock
Due: yarn lint:es, prettier --write

build: 适配博客园主题开发模式
  .gitignore
  config/webpack-base.js
  config/webpack-development.js
  package.json
  scripts/build.js
Due: yarn lint:es, prettier --write

build: 根据配置自动插入导航栏片段
  config/cnblogs-default.js
  config/webpack-base.js
  package.json
  plugins/html-webpack-handler.js
  public/favicon.svg
  public/index.html
Due: yarn lint:html, yarn lint:es, prettier --write

feat: 创建基础导航栏
  package.json
  src/components/navbar/_mixin.scss
  src/components/navbar/index.scss
  src/components/navbar/index.ts
  src/config/index.ts
  src/index.ts
  src/lib/interface.ts
  src/lib/utils.ts
  src/pages/blog.html
  src/styles/_layout.scss
  src/styles/_light.scss
  src/styles/_variables.scss
  src/styles/common.scss
  src/styles/index.scss
  src/styles/theme.scss
  src/templates/navbar.hbs
  yarn.lock
Due: yarn lint:html, yarn lint:style, yarn lint:es, prettier --write

feat(navbar): 根据滚轮滑动位置切换显示
  src/components/navbar/index.ts
  src/lib/utils.ts
Due: yarn lint:es, prettier --write

feat: 构建悬浮侧边栏
  src/components/navbar/index.scss
  src/components/sidebar/index.scss
  src/components/sidebar/index.ts
  src/config/index.ts
  src/index.ts
  src/styles/_layout.scss
  src/styles/_light.scss
  src/styles/_variables.scss
  src/styles/common.scss
Due: yarn lint:style, yarn lint:es, prettier --write

feat: 借助图片改造博客标题模块
  src/components/header/index.scss
  src/components/header/index.ts
  src/components/sidebar/index.scss
  src/index.ts
  src/styles/_light.scss
Due: yarn lint:style, yarn lint:es, prettier --write

feat: 在头部显示默认的顶部导航栏
  src/components/header/index.scss
  src/components/header/index.ts
  src/components/sidebar/index.scss
  src/styles/_light.scss
  src/styles/_variables.scss
Due: yarn lint:style, yarn lint:es, prettier --write

feat: 按横幅重塑博客列表模块
  src/components/content/index.scss
  src/components/content/index.ts
  src/components/header/index.scss
  src/index.ts
  src/styles/_layout.scss
  src/styles/_light.scss
  src/styles/_variables.scss
Due: yarn lint:style, yarn lint:es, prettier --write

feat: 对照头部改造底部
  src/components/content/index.scss
  src/components/footer/index.scss
  src/components/footer/index.ts
  src/components/header/index.scss
  src/index.ts
  src/styles/_light.scss
Due: yarn lint:style, yarn lint:es, prettier --write

feat: 头部模块适配博文页面
  src/components/header/index.scss
  src/components/header/index.ts
  src/components/post/index.scss
  src/components/post/index.ts
  src/components/sidebar/index.scss
  src/config/index.ts
  src/index.ts
  src/preset.ts
  src/styles/_light.scss
  src/styles/_variables.scss
Due: yarn lint:style, yarn lint:es, prettier --write

feat: 添加代码行号并支持一键复制
  src/components/post/index.ts
  src/components/post/syntax-highlight/index.scss
  src/components/post/syntax-highlight/index.ts
  src/lib/utils.ts
  src/styles/_light.scss
Due: yarn lint:style, yarn lint:es, prettier --write

feat: 调整博文样式，支持全局提示
  src/components/message/index.scss
  src/components/message/index.ts
  src/components/post/index.scss
  src/components/post/syntax-highlight/index.scss
  src/components/post/syntax-highlight/index.ts
  src/index.ts
  src/styles/_light.scss
Due: yarn lint:style, yarn lint:es, prettier --write

chore: update stylelint rules
  .stylelintrc
Due: none

feat: 隐藏底部广告、新闻等次要信息
  src/components/content/index.scss
  src/components/footer/index.scss
  src/components/header/index.scss
  src/components/post/index.scss
  src/components/sidebar/index.scss
  src/styles/common.scss
Due: yarn lint:style, prettier --write

feat: 侧边导航栏添加个人信息
  src/components/sidebar/_mixin.scss
  src/components/sidebar/index.scss
  src/components/sidebar/index.ts
  src/components/sidebar/profile.scss
  src/pages/blog.html
  src/styles/_light.scss
Due: yarn lint:html, yarn lint:style, yarn lint:es, prettier --write

feat: 对博文底部信息进行微调
  src/components/post/index.scss
  src/components/post/index.ts
  src/components/post/post-info/index.scss
  src/components/post/post-info/index.ts
  src/styles/_light.scss
Due: yarn lint:style, yarn lint:es, prettier --write

feat: 右侧添加包含回到顶部的工具栏
  src/components/toolbar/back-top/index.scss
  src/components/toolbar/back-top/index.ts
  src/components/toolbar/index.scss
  src/components/toolbar/index.ts
  src/index.ts
  src/styles/_light.scss
Due: yarn lint:style, yarn lint:es, prettier --write

feat: 将支持与反对移动到侧边工具栏
  src/components/toolbar/digg/index.scss
  src/components/toolbar/digg/index.ts
  src/components/toolbar/index.ts
Due: yarn lint:style, yarn lint:es, prettier --write

feat: 评论区域引用 GitHub 的风格
  src/components/content/index.scss
  src/components/post/comment/_mixin.scss
  src/components/post/comment/index.scss
  src/components/post/comment/index.ts
  src/components/post/index.ts
  src/components/post/post-info/index.scss
  src/styles/_light.scss
Due: yarn lint:style, yarn lint:es, prettier --write

build: prettier support Handlebars
  .prettierrc
  config/cnblogs-default.js
  plugins/html-webpack-handler.js
  src/templates/navbar.hbs
Due: yarn lint:es, prettier --write

build: 调整资源请求以加快开发环境运行
  .eslintignore
  config/cnblogs-default.js
  config/webpack-base.js
  config/webpack-development.js
  package.json
  plugins/html-webpack-handler.js
  public/cnblogs_com/dongwanhong/1857964/o_201003115132logo.png
  public/face/1107038/20170215205559.png
  public/highlight/10.3.1/highlight.min.js
  public/images/icon_weibo_24.png
  public/images/wechat.png
  public/scripts/jquery-2.2.0.min.js
  src/static/cnblogs_com/dongwanhong/1857964/o_201005073036show_arrow.png
  src/static/cnblogs_com/dongwanhong/1857964/o_201005115230landscape.jpeg
  src/static/cnblogs_com/dongwanhong/1857964/o_201006074439landscape-footer.jpeg
  yarn.lock
Due: yarn lint:es, prettier --write

build: 修复启动后不显示博文主体内容
  plugins/html-webpack-handler.js
Due: yarn lint:es, prettier --write

feat: 博文页中将公告中内的个人信息添加到头部
  src/components/footer/index.scss
  src/components/header/index.scss
  src/components/header/index.ts
  src/components/sidebar/index.scss
  src/config/index.ts
  src/styles/_light.scss
Due: yarn lint:style, yarn lint:es, prettier --write

build: 持续改进对资源请求的处理
  .eslintignore
  .eslintrc
  .prettierignore
  .stylelintignore
  config/webpack-development.js
  plugins/html-webpack-handler/index.js
  plugins/html-webpack-handler/preset.css
  plugins/html-webpack-handler/preset.js
  public/ajax/BlogPostInfo.html
  public/ajax/CategoriesTags.html
  public/ajax/CommentForm.html
  public/ajax/GetComments.html
  public/ajax/TopLists.html
  public/ajax/UnderPostNews.html
  public/ajax/blogSubscription.json
  public/ajax/news.html
  public/ajax/post/prevnext.html
  public/ajax/sidecolumn.html
  public/ajax/wechatshare/getconfig.json
  public/api/v2/recomm/blogpost/reco.json
  public/css/blog-common.min.css
  public/group/C1-C2.json
  public/group/T2.json
  public/images/aggsite/avatar-default.svg
  public/images/downdown.gif
  public/images/icon_addcomment.gif
  public/images/upup.gif
  public/skins/custom/bundle-custom-mobile.min.css
  public/user/userinfo.json
  src/pages/post.html
Due: yarn lint:html, yarn lint:style, yarn lint:es, prettier --write

fix: 操作尚未加载完成的个人信息模块导致相应功能失效
  src/components/sidebar/index.ts
  src/components/toolbar/digg/index.ts
  src/lib/utils.ts
Due: yarn lint:es, prettier --write

feat: 调整头部正确的显示标签
  public/ajax/CategoriesTags.html
  public/ajax/TopLists.html
  public/ajax/post/prevnext.html
  public/ajax/sidecolumn.html
  src/components/content/index.scss
  src/components/header/index.scss
  src/components/header/index.ts
  src/preset.ts
  src/styles/_variables.scss
Due: yarn lint:html, yarn lint:style, yarn lint:es, prettier --write

fix: 文章详情页中个人头像依旧停留在文章页中
  src/components/content/index.scss
  src/components/sidebar/index.ts
Due: yarn lint:style, yarn lint:es, prettier --write

fix: 小屏幕下，头部和 body 之间有间隙
  src/components/header/index.scss
  src/components/sidebar/index.ts
  src/config/index.ts
  src/styles/_variables.scss
Due: yarn lint:style, yarn lint:es, prettier --write

feat: 调大左边宽度、并让右侧菜单按钮高于文章内容
  src/components/content/index.scss
  src/components/sidebar/index.scss
Due: yarn lint:style, prettier --write

build: use url-loader transforms files into base64 URIs
  config/webpack-base.js
  package.json
  yarn.lock
Due: yarn lint:es, prettier --write

fix: 小屏幕下，顶部菜单按钮中间的内容缺失
  public/images/menu.svg
  src/components/navbar/index.scss
Due: yarn lint:style, prettier --write

refactor: 使用 onReady 函数替代 ensureAsync 函数
  src/components/header/index.ts
  src/components/sidebar/index.ts
  src/components/toolbar/digg/index.ts
  src/lib/on-ready.ts
  src/lib/utils.ts
Due: yarn lint:es, prettier --write

feat: 设置顶部导航栏正确的首页路径
  config/cnblogs-default.js
  plugins/html-webpack-handler/index.js
  src/components/post/comment/index.scss
  src/templates/navbar.hbs
Due: yarn lint:style, yarn lint:es, prettier --write

feat: 调整新增和删除评论时的逻辑和样式处理
  src/components/post/comment/_mixin.scss
  src/components/post/comment/index.scss
  src/components/post/comment/index.ts
  src/config/index.ts
  src/lib/global.d.ts
Due: yarn lint:style, yarn lint:es, prettier --write

fix: 左侧导航按钮低于评论列表项
  src/components/header/index.scss
  src/components/sidebar/index.scss
Due: yarn lint:style, prettier --write

chore(release): 忽略对修改日志的格式化、提交打包资源
  .prettierignore
  README.md
  dist/blog.html
  dist/extreme.min.css
  dist/extreme.min.js
Due: yarn lint:html, yarn lint:style, yarn lint:es, yarn lint:md, prettier --write

chore(release): 0.0.2
  CHANGELOG.md
Due: yarn lint:md, prettier --write
